body {
  font-family: "Montserrat", sans-serif;
}

h1,
h2,
h3 {
  font-family: "Montserrat";
  line-height: 1.5;
  font-weight: 900;
}

h1 {
  size: 3.5rem;
}
h2 {
  size: 3.8rem;
}

p {
  color: #8f8f8f;
}
.container-fluid {
  padding: 3% 15%;
}

#title {
  background-color: #ff4c68;
  color: #fff;
}

/* Navbar  */
.navbar {
  padding-bottom: 4.5rem;
}
.navbar-brand {
  font-family: Ubuntu;
  font-size: 2.5rem;
  font-weight: bold;
}
.nav-item {
  padding: 0 18px;
}
.nav-link {
  font-size: 1.2rem;
}

/* Download Buttons */

.download-button {
  margin: 5% 3% 5% 0;
}

/* Title-Image */
.title-image {
  width: 20%;
  transform: rotate(25deg);
  position: absolute;
  right: 25%;
}

/* Section 2  */
#features {
  padding: 7% 15% 7%;
  background-color: #fff;
  position: relative;
}

.feature-box {
  text-align: center;
  padding: 5%;
}
.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

/* Section 3  */

#testimonials {
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}
.carousel-item {
  padding: 7% 15%;
}

.testimonial-img {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}
#press {
  background-color: #ef8172;
  padding-bottom: 3%;
  text-align: center;
}
.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* pricing Section  */
#pricing {
  text-align: center;
  padding: 5%;
}
/* media Quries */
.cards {
  margin: 3% 0;
}

@media (max-width: 1018px) {
  .title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
    width: 50%;
  }
}

/* Call to Action */
#cta {
  padding: 7% 15% 7%;
  text-align: center;
  background-color: #ff4c68;
  color: #fff;
}
.end-btn {
  margin: 3% 1%;
}
/* Footer */
#footer {
  padding: 50px;
  text-align: center;
}

.icon-end {
  margin: 0 0.5%;
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon-end:hover {
  color: #ff4c68;
}
